@dark: #1D1E20;
@blue: #0B80D0;
@blue-border: #0E90DC;
@dark-border:  #3D444C;
@dark-background:#2C2F34;
@dark-toolbar:#323232;
@orange-codetlan :#F3923D;
// @import url(http://fonts.googleapis.com/css?family=Varela+Round);
// @import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption);
//@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

@import url(http://fonts.googleapis.com/css?family=Rokkitt|Open+Sans);