@dark: #1D1E20;
 @blue: #0B80D0;
 @blue-border: #0E90DC;
 @dark-border: #3D444C;
 .cursos-comments-list-item {
    width: 97%;
    display:inline-block;
    margin: 5px;
    padding:10px;
    border-radius: 4px;
    border:1px solid #CCC;
    .cursos-comments-list-item-avatar {
        float: left;
        width: 60px;
        img {
            border-radius: 50%;
            border: 3px #FFF solid;
            border-color: rgba(0, 0, 0, 0.2);
            transition: border-color 1s;
            /* Safari */
            -webkit-transition: border-color 1s;
        }
        &:hover {
            cursor: pointer;
            img {
                border-color: rgba(0, 0, 0, 0.5);
                border-color: @blue;
            }
        }
    }
    .cursos-comments-list-item-name {
    	@pad: 70px;
        float: left;
        margin-left: 10px;
        margin-top: -16px;
        width: calc(~'100% - @{pad}');
        div {
            color:rgba(0, 0, 0, .9);
            margin-top: -15px;

        }
    }
    .cursos-comments-list-item-comments {
    }
}
