
@import  "_base.css.less";

@blue-header : #157FCC;
@blue-button : #1464F6;
@title : #1e1e1e;
@paragraph: #333333;

.cursos-course-container-main{
	background: #3D444C url('../../../images/backgrounds/crossword.png');
	//background: #3D444C url('../../../images/backgrounds/geometry.png');
	background-color: #FFF;
	position: relative;
}

.courses-courses-list-main{	
	background-color: rgba(0, 0, 0, 0.1);
}

.courses-list-item{
	padding: 15px;
	margin: 15px 5px 5px 5px;
	border-radius: 5px;
	border: 2px #bbb solid;
	display: block;
	display: inline-block;
	width: 495px;
	background: #FFF;
	.courses-list-item-price-tags{
		margin:7px -25px 0px 0px;
		padding:0;
		position:relative;
		float: right;
		list-style:none;
		li{
			float:left;
			height:24px;
			line-height:24px;
			position:relative;
			font-size:11px;
		}
		span{
			float:left;
			height:24px;
			line-height:24px;
			position:relative;
			font-size:11px;
			margin-left:20px;
			padding:0 10px 0 12px;
			background:#0089e0;
			color:#fff;
			text-decoration:none;
			-moz-border-radius-bottomright:4px;
			-webkit-border-bottom-right-radius:4px;	
			border-bottom-right-radius:4px;
			-moz-border-radius-topright:4px;
			-webkit-border-top-right-radius:4px;	
			border-top-right-radius:4px;	
		}
		span:before{
			content:"";
			float:left;
			position:absolute;
			top:0;
			left:-12px;
			width:0;
			height:0;
			border-color:transparent #0089e0 transparent transparent;
			border-style:solid;
			border-width:12px 12px 12px 0;		
		}
		span:after{
			content:"";
			position:absolute;
			top:10px;
			left:0;
			float:left;
			width:4px;
			height:4px;
			-moz-border-radius:2px;
			-webkit-border-radius:2px;
			border-radius:2px;
			background:#fff;
			-moz-box-shadow:-1px -1px 2px #004977;
			-webkit-box-shadow:-1px -1px 2px #004977;
			box-shadow:-1px -1px 2px #004977;
		}
	}

	.courses-list-item-image{
		float: left;
		img{
			width: 180px;
			height: 140px;
			border: 1px solid #eee;
		}
	}
	.courses-list-item-details{
		float: left;
		margin-left: 10px;
		margin-top: -35px;
		width: 270px;
		h4{
			font-size: 24px;
			color: @title;
			//font-family: 'Rokkitt', serif;
		}
		p{
			margin-top: -30px;
			font-size: 14px;
			color: @paragraph;
			height: 62px;
			text-overflow: ellipsis;
			overflow: hidden;
			line-height: 20px;			
			font-family: 'Open Sans', sans-serif;
			//margin-right: -15px;
			text-align: justify;
		}
		.courses-list-item-name-buy-course-btn{
			padding:8px;
			position: relative;
			text-align: center;
			border: 2px @blue-button  solid;
			border-radius: 5px;
			font-size: 16px;
			color: #0C59CF;
			width: 140px;
			margin: auto;
			background: #eee;
			&:hover{
				background: @blue-button;
				color:#FFF;
				cursor: pointer;
			}
		}
		.courses-list-item-name-get-course-btn{
			.courses-list-item-name-buy-course-btn;
		}
		.courses-list-item-details-badge{
			float: right;
			margin: 10px -25px 0px 0px;
			img{
				width: 32px;
				height: 32px;
				//border-radius: 50%;
				//border: 2px #bbb solid;				
			}
		}
	}
	&:hover{
		border: 2px @blue-button  solid;
		cursor: pointer;
		.courses-list-item-details-badge{
			img{
				//border: 2px @blue-button solid;
			}
		}
	}
}