.courses-list-item{
	padding: 8px;
	margin: 20px 0px 0px 30px;
	float: left;
	background-color: #3498DB;
	div{
		img{
			width: 250px;
			height: 250px;
		}		
	}
	.courses-list-item-name{
		color: #FFF;
		font-size: 18px;
		padding: 10px 0 10px 0px;
	}
	.courses-list-item-social{
		padding: 10px 0 10px 0px;
		margin-left: -8px;
		div{
			float:left;
			width: 32%;
			text-align: center;
			color:#FFF;
			font-size: 18px;
		}
	}
	border-bottom:5px solid #2980B9;
}
.data-view-courses-list{
	background-color: #FFF;
	padding-bottom: 20px;
	background-image: url('../../../images/square.gif');
	background-repeat:repeat;
}
.courses-list-item-over{
	border-bottom:5px solid #27AE60;
	background-color: #2ECC71;
	cursor: pointer;
	.courses-list-item-name{
		color: #FFF;
	}
	.courses-list-item-social{
		div{
			color:#FFF;
		}
	}
}