.courses-list-item{
	padding: 8px;
	margin: 30px 0px 0px 30px;
	float: left;
	background-color: #FFF;	
	div{
		img{
			width: 350px;
			height: 350px;
		}		
	}
	.courses-list-item-name{
		color: #E26866;
		font-size: 20px;
	}
	.courses-list-item-social{
		background-color: #CCCCCC;
	}
	border:1px solid #FFFFFF;
	border-bottom:5px solid #CCCCCC;
}
.data-view-courses-list{
	background-color: #F5F5F5;
	padding-bottom: 20px;
}
.courses-list-item-over{
    border-color: #E26866;
}