// this are the css of the LandingPanel.js


@import  "_base.css.less";

.cursos-landing-panel-toolbar{	
	background-color: #005385;
	background-color: transparent;
	padding-top: 20px;
	.cursos-landing-panel-toolbar-button{
		font-family: 'PT Sans Narrow', sans-serif;
		text-indent: 1px;
		color: #FFF;
		padding: 10px;
		padding-right: 10px;
		font-size: 18px;
		letter-spacing: 1px;
		border: 2px solid #EEE;
		border-radius: 5px;
		text-align: center;
		&:hover { 
			cursor: pointer;
		}
	}
	.cursos-landing-panel-toolbar-text-codetlan{
		color: #FFF;
		padding: 2px;
		padding-right: 20px;
		padding-left: 15px;
		font-size: 18px;
		font-family: 'PT Sans Narrow', sans-serif;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;		
  		letter-spacing: 1px;
	}
	.cursos-landing-panel-toolbar-image-codetlan{
		background-color:#FFF;
		color: #FFF;
		width: 48px;
		height: 60px;
		border: #fff solid 3px;
		text-align: center;
		border-radius: 60px;
		&:hover { cursor: pointer }
	}
}


.cursos-landing-panel-poster{
	margin: auto;
	margin-top:30px;
	width: 860px;	
	
	div{
		opacity: 0.9;
		&:hover{
			opacity: 1.0;
		}
	}
	.cursos-landing-panel-poster-icon-top{
		float: left;		
		margin: 5px;
		img{
			width: 200px;
		}
	}
	.cursos-landing-panel-poster-icon-middle-push-left{
		float: left;
		margin: 5px;		
		margin-top: -50px;
		margin-left: -100px;
		img{
			width: 200px;
		}
	}
	.cursos-landing-panel-poster-icon-middle-push-right{
		float: left;
		margin: 5px;		
		margin-top: -50px;
		margin-right: -110px;
		img{
			width: 200px;
		}
	}
	.cursos-landing-panel-poster-icon-middle{
		float: left;
		margin: 5px;		
		margin-top: -50px;
		img{
			width: 200px;
		}
	}

	.cursos-landing-panel-poster-icon-bottom{
		float: left;
		margin: 5px;
		margin-top: -50px;
		img{
			width: 200px;
		}
		margin-bottom:0px;
	}

}
.cursos-landing-panel-poster-legend{
	color: #FFF;
	font-family: 'PT Sans Caption', sans-serif;
	margin: 40px auto;
	clear: both;
	text-align: center;
	margin-bottom:30px;
	width: 960px;
	font-size: 25px;
	letter-spacing: 1px;
}

.cursos-landing-panel-poster-gradient{
		height: 83px;
		background-color: transparent !important;
		position: relative;
		background: rgba(0,0,0,0.5);
		margin-top: -88px;
		background: #3D444C url('../../../images/degradado.png');
}


.cursos-landing-panel-search-toolbar{
	background-color: #2C3747;
	background-color: @dark-background;

	padding: 4px;
	position: relative;
	margin-top: -5px;
	div{
		color: #FFF;
		font-family: 'PT Sans Caption', sans-serif;
		font-size: 16px;
	}
}

.cursos-landing-panel-footer{
	background-color: #2C3747;
	.cursos-landing-panel-footer-text{
		font-family: 'PT Sans Narrow', sans-serif;
		opacity: 0.5;
		float: right;
		color: #FFF;
		font-size: 18px;
		padding: 10px;
		margin-top: 30px;
		margin-right: 50px;
		letter-spacing: 1px;
	}
	.cursos-landing-panel-footer-social{
		float: left;
		color: #FFF;
		margin-top: 2px;
		ul{
			 list-style-type: none;
			li{
				padding: 3px;
				float: left;
				font-size: 14px;
				opacity: 0.5;
				i{
					font-size: 52px;
				}
				a{
					color: #FFF;
				}
				&:hover{
					opacity: 1.0;
					cursor: pointer;
				}
			}
		}
	}
}
.cursos-landing-panel-facebook-btn{
	border: 1px solid #185895;	

	background-color: #185996;
	background-image: -moz-linear-gradient(top,#1a60a2,#154e83);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#1a60a2),to(#154e83));
	background-image: -webkit-linear-gradient(top,#1a60a2,#154e83);
	background-image: -o-linear-gradient(top,#1a60a2,#154e83);
	background-image: linear-gradient(to bottom,#1a60a2,#154e83);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a60a2',endColorstr='#ff154e83',GradientType=0);
	border-color: #154e83 #154e83 #0a2741;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	height: 40px;
	padding: 10px 0 0 10px;
	span{
		color: #fff;
		text-shadow: none;
		margin-left: 10px;
		letter-spacing: 1px;
	}
	i{
		float: left;
		border-right: 1px #FFF solid;
	}
	&:hover{
		cursor: pointer;
	}
}
.cursos-landing-panel-google-btn{
	border: 1px solid #1faae0;
	background-color: #26a7da;
	background-image: -moz-linear-gradient(top,#2cafe2,#1c9cce);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#2cafe2),to(#1c9cce));
	background-image: -webkit-linear-gradient(top,#2cafe2,#1c9cce);
	background-image: -o-linear-gradient(top,#2cafe2,#1c9cce);
	background-image: linear-gradient(to bottom,#2cafe2,#1c9cce);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2cafe2',endColorstr='#ff1c9cce',GradientType=0);
	border-color: #1c9cce #1c9cce #13698b;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	height: 40px;
	padding: 10px 0 0 10px;
	span{
		color: #fff;
		margin-left: 10px;
		text-shadow: none;
		letter-spacing: 1px;
	}
	i{
		float: left;
		border-right: 1px #FFF solid;
	}
	&:hover{
		cursor: pointer;
		background-color: #2cafe2;
	}
}
.cursos-landing-panel-user-stories{
	background: @orange-codetlan;
	color:#FFF;
	font-size: 24px;
	font-family: "open-sans","Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	text-align: center;
	margin-top: -2px;
	padding: 10px;
	.cursos-landing-panel-user-stories-user{
		width: 860px;
		margin: auto;
		div{
			float: left;
			img{
				width: 64px;
				border: 3px solid #FFF;
				border-radius: 50%;
			}
		}
		.cursos-landing-panel-user-stories-user-comment{
			margin-top: -5px;
			font-size: 20px;
			margin-left: 20px;
			text-align: center;
			span{
				float: right;
				margin-top: -20px;
				font-size: 14px;
			}
		}
	}
}

.cursos-landing-panel-description{
	display: inline-block;
	margin-top: 70px;
	div{
		width: 50%;
	}
	.cursos-landing-panel-description-legend{
		float: left;
		h1{
			font-size: 27px;
			color:#25282C;
		}
		p{
			font-family: "open-sans","Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
			font-size: 18px;
			line-height: 30px;
			color: #5b6064;
			margin-bottom: 25px
		}
	}
	.cursos-landing-panel-description-img{
		float: left;
		img{
			width: 400px;
		}
	}
}

.cursos-landing-panel-user-stories-blue{
	background: #0099d2;
	color:#FFF;
	font-size: 24px;
	font-family: "open-sans","Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	text-align: center;
	p{
		margin-top: 17px;
	}
}
.cursos-landing-panel-user-stories-pattern{
	background: #0099d2 url(../../../images/backgrounds/science.png);
	overflow: hidden !important;
}
.cursos-landing-panel-courses-list{
	//position: relative;
	width: 1020px;
	margin: auto;
	margin-top: 30px;
}