// this are the css of the LandingPanel.js

@dark: #1D1E20;
@blue: #0B80D0;
@blue-border: #0E90DC;
@dark-border:  #3D444C;
@dark-background:#2C2F34;

.cursos-landing-panel-toolbar{
	background-color: @blue-border;
	.cursos-landing-panel-toolbar-button{
		background-color: @blue-border;
		color: #FFF;
		padding: 0px;
		padding-right: 20px;
		border-left: 2px solid @blue;
		font-size: 18px;
		&:hover { cursor: pointer }
	}
	.cursos-landing-panel-toolbar-button-codetlan{
		background-color: @blue-border;
		color: #FFF;
		padding: 2px;
		padding-right: 20px;
		padding-left: 15px;
		font-size: 20px;
		text-transform: uppercase;
		text-decoration: none;
		&:hover { cursor: pointer }
		img{
			width: 48px;
			float: left: 
			background: #FFF;
		}
	}
}