.cursos-menu-item{
	height: 60px;
	border-bottom: 2px solid #0E90DC;	
	background-color: #0B80D0;
	color: #FFE;
	padding: 10px;
	font-size: 16px;
	div{
		padding: 10px;
	}
	i{
		color: #85C0E8;
		margin-right: 15px;
		font-size: 18px;
	}
	.badge{
		float: right;
		border-radius: 24px;
		width: 25px;
		height: 25px;
		background-color: #303338;	
		margin-top: -32px;
		span{
			color: #FFE;
			position: absolute;
			font-size: 14px;
			margin-left: -1px;
			margin-top: -5px;
			text-align: center;
		}
	}
}
.cursos-menu-panel{

}
.cursos-menu-user-container{
	background-color: #0B80D0;
	border-bottom: 2px solid #0E90DC;
	border-top: 2px solid #0E90DC;
	color: #FFE;
	.cursos-user-profile{
		.cursos-user-avatar{
			padding: 5px;
			float:left;		
			img{
				width: 40px;
				margin: 5px;
				border-radius: 48px;
				border: 1px solid #0E90DC;
			}
		}

		.cursos-user-data{
			float:left;
			display: block;
			margin-left: 15px;
			margin-top: 20px;
			.cursos-user-name{
				font-size: 16px;
			}
			.cursos-user-info{
				color: #85C0E8;
			}
		}
		
	}
}