@dark: #1D1E20;
@blue: #0B80D0;
@blue-border: #0E90DC;
@dark-border:  #3D444C;

.courses-shopping-car-field-set-tpl{
	background-color: #2C3747;
	background-color: #3D444C;
	height: 50px;
	padding: 4px;
	margin-bottom: 5px;
	margin-top: 5px;
	color: #FFF;
	padding-top: 15px;
	font-size: 20px;
	
	.courses-shopping-car-field-set-tpl-name{
		float: left;
		width: 70%;
		text-align: left;
		margin-left: 5px;	
	}
	.courses-shopping-car-field-set-tpl-price{
		float: left;
		width: 28%;
		text-align: right;
	}
}